@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "slick", "slick-theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.header {
    height: 88px;
}
li {
    list-style-type: none;
}
.link_underline {
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 0 calc(100% - 1px);
        transition: background-size .55s cubic-bezier(.645,.045,.355,1);
    &:hover {
        background-size: 100% calc(100% - 1px);
        background-position: 0 0;
    }
}
.text_black {
    color: #000;
}
.text_white {
    color: #fff;
}
.nav {
    &_top {
        text-transform: uppercase;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        width: calc(50% - 70px);
        display: flex;
        align-items: center;
        gap: 40%;
        &_left {
            justify-content: flex-start;
        }
        &_right {
            justify-content: flex-end;
            gap: 35%;
        }
        &_login {
            width: auto;
            gap: 10px;
            .menu__item {
                margin: 0 25px;
                font: 14px;
            }
        }
    }
    .cart-counter {
        margin-left: 5vw;
    }
}
.logo {
   justify-self: center;
}
.language-switcher {
    display: flex;
    gap: 5px;
    &__divider {
        width: 2px;
        background-color: #000;
    }
    &__lang {        
        text-decoration: none;
        &:not(.active) {
            color: #c4c4c4;
        }
    }
    &__lang.active {
        pointer-events: none
    }
}
.main__title {
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.section_entrance {
    width: 100%;
    display: flex;
    .image_holder {
        width: 33.33%;
        position: relative;
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .link_underline {
            position: absolute;
            bottom: 30px;
            left: 30px;
            text-transform: uppercase;
            font-size: 18px;
            color: #fff;
        }
        .link_underline.text_black {
            bottom: 105px;
            left: calc(100% - 165px);
            color: black;
        }
    }
}
.section_responsible {
   width: 100%;
   padding: 130px 65px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   .block {
       display: flex;
       flex-direction: column;
       flex-basis: 60%;
       gap: 30px;
       .description {
           font-size: 20px;
           line-height: 1.25;
       }
   }
   .link_underline {
       text-align: right;
   }
}
.section_new-arrivals {
    width: 100%;
   padding: 130px 65px;
}