@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "mixins", "slick", "components";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #F1F1F1;
}
.header {
    height: 88px;
}
li {
    list-style-type: none;
}
.link_underline {
    @include hoverUnderline;
}
.text_black {
    color: #000;
}
.text_white {
    color: #fff;
}
.nav {
    &_top {
        text-transform: uppercase;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        width: calc(50% - 70px);
        display: flex;
        align-items: center;
        gap: 40%;
        &_left {
            justify-content: flex-start;
        }
        &_right {
            justify-content: flex-end;
            gap: 35%;
        }
        &_login {
            width: auto;
            gap: 10px;
            .menu__item {
                margin: 0 25px;
                font: 14px;
            }
        }
    }
    .cart-counter {
        margin-left: 5vw;
    }
}
.logo {
   justify-self: center;
}
.language-switcher {
    display: flex;
    gap: 5px;
    &__divider {
        width: 2px;
        background-color: #000;
    }
    &__lang {        
        text-decoration: none;
        &:not(.active) {
            color: #c4c4c4;
        }
    }
    &__lang.active {
        pointer-events: none
    }
}
.main__title {
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.section_entrance {
    width: 100%;
    display: flex;
    .image_holder {
        width: 33.33%;
        position: relative;
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .link_underline {
            position: absolute;
            bottom: 30px;
            left: 30px;
            text-transform: uppercase;
            font-size: 18px;
            color: #fff;
        }
        .link_underline.text_black {
            bottom: 105px;
            left: calc(100% - 165px);
            color: black;
        }
    }
}
.section_responsible {
   width: 100%;
   padding: 130px 65px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   .block {
       display: flex;
       flex-direction: column;
       flex-basis: 60%;
       gap: 30px;
       .description {
           font-size: 20px;
           line-height: 1.25;
       }
   }
   .link_underline {
       text-align: right;
   }
}
.arrow-icon {
    fill: #000;
    width: 18px;
    height: 10px;
}
.section_new-arrivals {
   width: 100%;
   padding: 130px 65px;
   a {
       text-decoration: none;
   }
   .new-arrivals {
       &__header {
         display: flex;
         justify-content: space-between;
         margin-bottom: 30px;
       }
       &__title {
           text-transform: uppercase;
           font-size: 24px;
       }
       &__arrows {
           display: flex;
           gap: 3px;
       }
   }
   .product {
       position: relative;
       color: #000;
       height: 600px;
       overflow: hidden;
       &__title {
          position: absolute;
          z-index: 1;
       }
       &__image {
           height: 100%;
           width: auto;
           object-fit: cover;
           transition: transform .5s;
           &:hover {
              transform: scale(1.2);
           }
       }
       &__price {
           position: absolute;
           bottom: 10px;
       }
       &__shop {
           position: absolute;
           bottom: 10px;
           left: 60%;
       }
       p {
           @include underlineNotHover;
       }
       &:hover p {
           @include underlineHover;
       }
   }
}